[submodule "libs/juce"]
	path = libs/juce
	url = https://github.com/juce-framework/JUCE.git
[submodule "libs/melatonin_blur"]
	path = libs/melatonin_blur
	url = https://github.com/sudara/melatonin_blur.git
